@model GerenciadorLixoEletronico.NH.Model.Estado

@{
    ViewBag.Title = "NovoP2";
    Layout = "~/Views/Shared/_AdministradorLayout.cshtml";
}

<h2>NovoP2</h2>

@using (Html.BeginForm("NovoPosto", "PostoDeColeta", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Seleção do Estado</h4>
        <hr />
        
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id, (SelectList)ViewBag.lstEstados, "Selecione...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
